.containerCampanha {  
    height: 100vh;
    background-color:#F4F4F4;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.infosCampanha {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tituloCampanha {
    
    /*argin: 5% 62% 1% 10%;*/
    
    
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    
}

.subtituloCampanha {
    
    
    text-align: left;
    padding-right: 5%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
}

.imgCampanha {
    
    margin: 5% 5% 1% 5%;
    width:40%;
    border-radius: 10px;
    
}