.containerMissao {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px 0;
  background-color: #F4F4F4;
}

.infosMissao {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tituloMissao {
  font-weight: 600;
  font-size: 36px;
}

.subtituloMissao {
  text-align: left;
  font-size: 16px;
  color: #000000;
}

.imgMissao {
  width: 40%;
  border-radius: 10px;
}
