.NossosParceiros{
    height: 100vh;
}
.title{
    font-family: Montserrat;
    font-size: 36px;
    text-align: center;
    color: #000000;
    margin-top: 300px;
}
.subtitle{
    font-family: Montserrat;
    font-size: 18px;
    text-align: center;
    color: #000000;
    margin-top: 100px;
}
.logos{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  
    
}
