@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@100&display=swap');

.Navbar {
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding-bottom: 300px;
    position: static;
    height: 100vh;
}
header {
    display:flex;
    flex-direction: row;
}
.Navbar a{
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-bottom: 350px;
}

.home {
    padding-top: 30px;
    padding-left:200px;
    
}

.quem_somos {
    padding-top: 30px;
    width: 108px;
    padding-left:30px;
    width: webkit-fill-available;
}

.missao {
    padding-top: 30px;
    padding-left:30px;
}

.projetos {
    padding-top: 30px;
    padding-left:30px;
}

.campanha {
    padding-top: 30px;
    padding-left:30px;
}   

.contato {
    padding-top: 30px;
    padding-left:30px;
    padding-right: 55px;
}

.doar {
    padding-top: 45px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #FFFFFF;
    padding-left:100px;
    padding-bottom: 10px;
}

.button_navbar {
    position: absolute;
    width: 111px;
    height: 54px;
    left: 1225px;
    top: 31px;
    background: #0849D8;
    border-radius: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.img_navbar {
    width: 214px;
    height: 71px;
    left: 90px;
    top: 23px;
}


